
<!-- ### $Sidebar Menu ### -->
<ul class="sidebar-menu scrollable pos-r">

    <li class="nav-item mT-30 active">
        <a class="sidebar-link" href="{{ path('dash.index') }}">
            <span class="icon-holder">
              <i class="c-blue-500 ti-home"></i>
            </span>
            <span class="title">Dashboard</span>
        </a>
    </li>

    <li class="nav-item">
        <a class='sidebar-link' href="#">
                <span class="icon-holder">
                  <i class="c-brown-500 ti-calendar"></i>
                </span>
            <span class="title">Calendar</span>
        </a>
    </li>

    <li class="nav-item">
        <a class='sidebar-link' href="#">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-world"></i>
                </span>
            <span class="title">Domain names</span>
        </a>
    </li>

    <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
            <span class="icon-holder"><i class="c-orange-500 ti-email"></i></span>
            <span class="title">Email</span>
            <span class="arrow"><i class="ti-angle-right"></i></span>
        </a>
        <ul class="dropdown-menu">
            <li><a class='sidebar-link' href="{{ path('dash.mail.index') }}">Email domains</a></li>
            <li><a class='sidebar-link' href="#">Mailboxes</a></li>
            <li><a class='sidebar-link' href="#">Forwarders</a></li>
        </ul>
    </li>

</ul>